<div class="container">
  <h1 style="text-align:center">{{ title }}</h1>

  <div class="flex-container">
    <textarea type="text" id="code" rows="12" class="form-group input-lg" [(ngModel)]="code"></textarea>
    <div>
      <textarea id="stdin" class="input-lg" [(ngModel)]="stdin"></textarea>

      <mat-form-field>
        <mat-select placeholder="Choose" [(value)]="lang" (selectionChange)="select($event.value)" >
          <mat-option value="Detect">Detect</mat-option>
          <mat-option value="Java">Java</mat-option>
          <mat-option value="Python">Python</mat-option>
        </mat-select>
      </mat-form-field>

      <textarea id="stdout" class="input-lg" style="float:right;" readonly disabled [(ngModel)]="stdout"></textarea>

    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)=compile()>Compile</button>
    </div>
  </div>
  <form class="form-inline" style="margin-top: 2em">
    <input id="file" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".java,.py">
    <input class="btn btn-primary" type="submit" style="margin-left: 15em" value="Compile File" (click)=compilefile()>
  </form>
</div>